<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proximity Videospace</title>
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    
<style>
    html {
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #336699 15%, #3366cc 78%);
    }

    #video-grid {
        margin: auto;
        width: 824px;
        height: 824px;
        background-color: rgba(21, 21, 46, 0.349);
        display: grid;
        grid-template-columns: 235px 235px 235px; 
        grid-template-rows: 235px 235px 235px;
        grid-gap: 16px;
        justify-content: center;
        align-content: center;
        border-radius: 8px;

    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        filter: drop-shadow(2.5px 4px 1.5px #1a2835);
    }
</style>


</head>
<body>
    <div style="text-align:center;">
        <h1 style="filter: drop-shadow(2px 2px 3px #1a2835); margin: 0 0 0 0;">Coffee Break</h1>
        <img src="https://www.pinclipart.com/picdir/big/139-1390089_tea-cup-transparent-background-coffee-transparent-background-transparent.png" style="filter: drop-shadow(4px 4px 3px #1a2835)" height="64px" width="64px"></img>
    </div>
    
    
    <div id="video-grid"></div>    
</body>
</html>